<footer class="page-footer bg-color">
    <div class="container row center-align">
        <div class="col s12 copy-right">
            <a href="http://www.beian.miit.gov.cn">粤ICP备19143922号</a> | &copy;2019&nbsp;<a href="https://blinkfox.github.io/" target="_blank">Linda Liu</a>
            <% let socialClass = '' %>
			<% if (theme.busuanziStatistics && theme.busuanziStatistics.enable) { %>
                <% socialClass = 'social-statis' %>
            <% } %>
            <span class="social-link <%- socialClass %>"><%- partial('_partial/social-link') %></span>
        </div>

    </div>
</footer>

<div class="progress-bar"></div>
